<div id="Operadores">
    <input type="number">
    <input type="number">

    <div id="contoladores">
        <button type="button" {{on 'click' this.showPerson}}>Sumar</button>
        <button type="button" {{on 'click' this.showPerson}}>Restar</button>
        <button type="button" {{on 'click' this.showPerson}}>Multiplicar</button>
        <button type="button" {{on 'click' this.showPerson}}>Dividr</button>
    </div>
</div>